body{
  
  background-color: rgb(242, 183, 107);
  margin: 0px;
  width: 2400px;
}
main{
  position: relative;
  margin-top: 5%;
  margin-left: 37%;
  
  height: 10vh;
  width: 10vw;
  
}

.genius{
  display: grid;
  grid-template-areas: 'green red' 
  'yellow blue';
  grid-gap: 10px;
  border:5px solid rgb(0, 0, 0);
  background-color: white;
  border-radius: 100%;
  
  width: 700px;
  height: 700px;

}
#blue{
  grid-area: blue;
  background-color: blue;
  border-bottom-right-radius: 100%;
}
#green{
  grid-area: green;
  background-color: green;
  border-top-left-radius: 100%;
}
#yellow{
  grid-area: yellow;
  background-color: yellow;
  border-bottom-left-radius: 100%;

}
#red{
  grid-area:red;
  background-color:red;
  border-top-right-radius: 100%;
}
.selected{
  opacity: 0.8;
}