body{
  
  background-color: rgb(242, 183, 107);
  margin:2rem;
  margin-top: 5rem;
  
}
main{
  position: relative;
 
}

.genius{
  display: grid;
  grid-template-areas: 'green red' 
  'yellow blue';
  grid-gap: 10px;
  border:5px solid rgb(0, 0, 0);
  background-color: white;
  border-radius: 100%;
  
  width: 21rem;
   
  height:21rem;

}
#blue{
  grid-area: blue;
  background-color: blue;
  border-bottom-right-radius: 100%;
}
#green{
  grid-area: green;
  background-color: green;
  border-top-left-radius: 100%;
}
#yellow{
  grid-area: yellow;
  background-color: yellow;
  border-bottom-left-radius: 100%;

}
#red{
  grid-area:red;
  background-color:red;
  border-top-right-radius: 100%;
}
.selected{
  opacity: 0.4;
}